<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>weblog</title>
        <link rel="stylesheet" href="{{ ../css/style.css | url }}">

        <!-- ICONS -->
        <link rel="shortcut icon" href="{{ ../icons/favicon.ico | url }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ ../icons/apple-touch-icon.png | url }}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{{ ../icons/favicon-32x32.png | url}}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ ../icons/favicon-16x16.png | url}}"/>
        <!----------->

    </head>

    <body>

        <div class="center">

    <!-- link bar at top of page -->

        <div class="linkbar" id="navbar">
            <a href="../index.html">home</a>
        </div>

        <!-- <script> -->
        <!-- fetch('../css/navbar.html') -->
        <!--   .then(response => response.text()) -->
        <!--   .then(html => { -->
        <!--     document.getElementById('navbar').innerHTML = html; -->
        <!--   }) -->
        <!--   .catch(err => console.error('Error loading navigation:', err)); -->
        <!-- </script> -->

    <!-- end link bar -->

<!-- ▗▄▄▄▖▗▖ ▗▖ ▗▄▖ ▗▖ ▗▖ ▗▄▄▖▗▖ ▗▖▗▄▄▄▖▗▄▄▖ -->
<!--   █  ▐▌ ▐▌▐▌ ▐▌▐▌ ▐▌▐▌   ▐▌ ▐▌  █ ▐▌ -->   
<!--   █  ▐▛▀▜▌▐▌ ▐▌▐▌ ▐▌▐▌▝▜▌▐▛▀▜▌  █  ▝▀▚▖ -->
<!--   █  ▐▌ ▐▌▝▚▄▞▘▝▚▄▞▘▝▚▄▞▘▐▌ ▐▌  █ ▗▄▄▞▘ -->
<pre class="pre1">
▗▖ ▗▖▗▄▄▄▖▗▄▄▖ ▗▖    ▗▄▖  ▗▄▄▖
▐▌ ▐▌▐▌   ▐▌ ▐▌▐▌   ▐▌ ▐▌▐▌   
▐▌ ▐▌▐▛▀▀▘▐▛▀▚▖▐▌   ▐▌ ▐▌▐▌▝▜▌
▐▙█▟▌▐▙▄▄▖▐▙▄▞▘▐▙▄▄▖▝▚▄▞▘▝▚▄▞▘
</pre>

            <div class="blogpost">
                <p class="par2">
                    {{ content }}
                </p>
            </div>
        </div>
    </body>
</html>
